name: .NET Core Desktop

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on: [windows-latest, ubuntu-latest, macos-latest]

    env:
      Solution_Name: BigFloat
      Test_Project_Path: BigFloat.csproj

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    # Execute all unit tests in the solution
    - name: Execute unit tests
      run: dotnet test
